<%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/> %>

<div data-controller="map">
  <div data-map-target="mapContainer" style="width: 100%; height: 90vh;"></div>
</div>
